* {
    
    box-sizing: border-box;
}

body {
    background-color: rgb(10, 211, 238);
    margin: 0;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 5rem;
    background-color: #0a7537;
    color: white;
}
main {
    float: right;
    width: 80%;
}
aside {
    width: 20%;
    float: left;
    
}
aside button {
    display: block;
    margin: 10px 0;
    outline: none;
    color: white;
    border: solid 2px black;
    background-color: #2f42ec;
}